@import "tailwindcss";

@layer utilities {
  .bg-primary {
    background-color: #6c1233;
  }

  .text-primary {
    color: #6c1233;
  }

  .bg-secondary {
    background-color: #a44b6f;
  }

  .text-secondary {
    color: #a44b6f;
  }
}
